GAME RULES
==========

Each player controls a feudal faction consisting of a noble (from knight to
king), his army, money, land, diplomacy. Factions fight each other over land
control. A player who loses his noble or all his land, loses the game. The game
ends when there is only one sovereign noble left.

The game is played on a map (orthogonal grid). Map tiles can be walkable (land)
or unwalkable (walls, water). A group of tiles make up a region. A region can
either be free or belong to a player. Regions have names.

Currently, there are only nobles and soldiers (ships are planned). A noble has
a finite lifespan (normally between 60 and 80 years). After a noble dies, a
heir or lord will inherit the property.
